!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title Employee DB
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if user_logged_in?
      %p
        = "Welcome, #{current_user_name}"
        = link_to 'Logout', logout_path, method: :delete
    = yield
